.menu-card-wrapper {
  border-radius: 6px;
  background-color: white;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  width: 200px;
  border: 1px solid #e3e3e3;
  border-radius: 0.25rem;

  svg {
    font-size: 40px;
    color: #495057;
    margin-bottom: 10px;
  }

  span {
    color: black;
  }
}
