.categories-wrapper {
  h3 button {
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    padding: 8px 16px;
    span {
      margin-left: 10px;
    }
  }
  h3 .categories-wrapper__search {
    display: inline;
    margin: 0 20px;
    input {
      padding: 8px;
    }
  }
  &__bold-text {
    font-weight: bold;
  }
}
