.button-wrapper {
  color: #495057;
  border: 1px solid #495057;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  outline: none;

  &:active {
    box-shadow: 0 3px 0 gray;
    bottom: 3px;
  }

  .with-icon {
    margin-left: 10px;
  }
  &__primary {
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
    color: white;

    &:active {
      box-shadow: 0 3px 0#08367a;
      bottom: 3px;
    }
  }
  &__danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    &:active {
      box-shadow: 0 3px 0 #842029;
      bottom: 3px;
      border: 1px solid #842029;
    }
  }
}

.disabled {
  background-color: #a3b1c5;
  border-color: #a3b1c5;
  pointer-events: none;
}
