.modal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.6);

  &__content {
    box-sizing: border-box;
    width: 500px;
    color: black;
    background-color: white;
    margin-top: -130px;
    border-radius: 8px;
    padding: 16px;
  }
  &__close-icon {
    font-size: 25px;
    cursor: pointer;
    float: right;
  }
  &__body {
    margin: 25px 0;
  }
  &__actions {
    display: flex;
    flex-direction: row-reverse;
  }
}
